[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
octanegg = "*"
pandas = "*"
seaborn = "*"
psycopg2-binary = "*"
dlt = {extras = ["postgresql"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
